@page "/userdetail/{UserId:guid}"
@using System.ComponentModel.DataAnnotations
@using UserCatalog.Web.Components.Pages.ViewModels
@using UserCatalog.Web.Components.Pages.ViewModels.Converters
@inject HttpClient Http
@inject UserProxyConverter UserProxyConverter

<PageTitle>User Detail</PageTitle>

<EditForm Model="_formModel" OnValidSubmit="OnValidSubmitHandler">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-2">
        <label>Username</label>
        <TelerikTextBox @bind-Value="_formModel.Username" />
    </div>

    <div class="mb-2">
        <label>First Name</label>
        <TelerikTextBox @bind-Value="_formModel.FirstName" />
    </div>

    <div class="mb-2">
        <label>Last Name</label>
        <TelerikTextBox @bind-Value="_formModel.LastName" />
    </div>

    <div class="mb-2">
        <label>Date of Birth</label>
        <TelerikDatePicker @bind-Value="_formModel.DateOfBirth"
                           Format="yyyy-MM-dd" />
    </div>

    <div class="mb-2">
        <label>Birth Place</label>
        <TelerikTextBox @bind-Value="_formModel.BirthPlace" />
    </div>

    <div class="mb-2">
        <label>Residence</label>
        <TelerikTextBox @bind-Value="_formModel.Residence" />
    </div>

    <div class="mb-2">
        <label>Current Password</label>
        <TelerikTextBox Password="true"
                        @bind-Value="_formModel.CurrentPassword" />
        <ValidationMessage For="@(() => _formModel.CurrentPassword)" />
    </div>

    <div class="mb-2">
        <label>New Password</label>
        <TelerikTextBox Password="true"
                        @bind-Value="_formModel.NewPassword" />
        <ValidationMessage For="@(() => _formModel.NewPassword)" />
    </div>

    <div class="mb-2">
        <label>New Password Again</label>
        <TelerikTextBox Password="true"
                        @bind-Value="_formModel.NewPasswordAgain" />
        <ValidationMessage For="@(() => _formModel.NewPasswordAgain)" />
    </div>

    <TelerikButton ButtonType="ButtonType.Submit" Class="k-primary">
        Save
    </TelerikButton>
</EditForm>

@code {
    [Parameter]
    public Guid UserId { get; set; }

    private UserDetailFormModel _formModel = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"/api/user/{UserId}");
        if (!response.IsSuccessStatusCode)
        {
            return;
        }

        var json = await response.Content.ReadAsStringAsync();
        var user = (UserProxy)UserProxyConverter.ConvertUserToUserProxy(json);

        _formModel.Id = user.Id;
        _formModel.Username = user.Username;
        _formModel.FirstName = user.FirstName;
        _formModel.LastName = user.LastName;
        _formModel.DateOfBirth = user.DateOfBirth;
        _formModel.BirthPlace = user.BirthPlace;
        _formModel.Residence = user.Residence;
    }

    private async Task OnValidSubmitHandler()
    {
        var response = await Http.PostAsJsonAsync($"/api/user/update", _formModel);
        if (!response.IsSuccessStatusCode)
        {
            return;
        }
    }
}
